

#ui-left #logo {
  content: url("/modules/wikirole/ui/img/logo.webp");
  width: 100px;
  height: 100px;
}



#chat-message{
    background-image: url(/modules/rippers-ui/ui/img/moonchat.webp) !important;
}













/* #endregion */

/* #region Chat Tab*/
.message{
    background-image: url(/modules/wikirole/ui/img/paper_texture.webp) !important;
}

.window-app {
  border: 20px solid transparent;
  border-image-source: url(/modules/wikirole/ui/img/inserisci.png);
  border-image-slice: 25 fill;
  border-image-repeat: repeat;
}



