
:root {
    --logovis: hidden;
    --logoh: 50px;
    --logow: 100px;
}

#logo {
    visibility: var(--logovis);
    height: var(--logoh);
    width: var(--logow);
}



























/* #endregion */

/* #region Chat Tab*/
.message{
    background-image: url(/modules/wikirole/ui/img/paper_texture.webp) !important;
}

.window-app {
  border: 20px solid transparent;
  border-image-source: url(/modules/wikirole/ui/img/nuovo.png);
  border-image-slice: 25 fill;
  border-image-repeat: repeat;
}



