

#ui-left #logo {
  content: url("/modules/wikirole/ui/img/logo.webp");
  width: 100px;
  height: 100px;
}



#chat-message{
    background-image: url(/modules/wikirole/ui/img/gatto.webp) !important;
}


.message-sender {
    color: darkred;
    font-weight: bold;
    border-bottom-color: darkred;
    text-decoration: underline;










/* #endregion */

/* #region Chat Tab*/
.message{
    background-image: url(/modules/wikirole/ui/img/paper_texture.webp) !important;
}



