

#ui-left #logo {
  content: url("/modules/wikirole/ui/img/logo.webp");
  width: 130%;
  height: 130%;
}
















/* #endregion */

/* #region Chat Tab*/
.message{
    background-image: url(/modules/wikirole/ui/img/paper_texture.webp) !important;
}

.window-app {
  border: 20px solid transparent;
  border-image-source: url(/modules/wikirole/ui/img/nuovo.png);
  border-image-slice: 25 fill;
  border-image-repeat: repeat;
}



